extends adminBase 

block specific-css
  link(rel='stylesheet' href='/css/dashboard.css')

block content
  section.dashboard
    div.dashboardTitle
      h1 Olá, Chef! 👋
      p Aqui está o que está acontecendo na sua pizzaria hoje, #{dashboardData.dataHoje}
  section.dashboard
    div.dashboard-cards
      div.card
        div.card-content
          div.card-icons
            div.card-icon 
             i(data-lucide='shopping-cart')
            div.badge-trend(class=dashboardData.revTrend >= 0 ? 'badge-trend-up' : 'badge-trend-down')
             i(data-lucide=dashboardData.revTrend >= 0 ? 'trending-up' : 'trending-down')
             span #{dashboardData.revTrend}%
          p FATURAMENTO MENSAL
          h3 R$ #{dashboardData.totalRevenue}
      div.card
        div.card-content
          div.card-icons
            div.card-icon 
             i(data-lucide='shopping-bag')
            div.badge-trend(class=dashboardData.ordersTrend >= 0 ? 'badge-trend-up' : 'badge-trend-down')
             i(data-lucide=dashboardData.ordersTrend >= 0 ? 'trending-up' : 'trending-down')
             span #{dashboardData.ordersTrend}%
          p TOTAL DE PEDIDOS
          h3 #{dashboardData.totalOrders}
      div.card
        div.card-content
          div.card-icons
            div.card-icon 
             i(data-lucide='users')
            div.badge-trend(class=dashboardData.customersTrend >= 0 ? 'badge-trend-up' : 'badge-trend-down')
             i(data-lucide=dashboardData.customersTrend >= 0 ? 'trending-up' : 'trending-down')
             span #{dashboardData.customersTrend}%
          p NOVOS CLIENTES
          h3 #{dashboardData.newCustomers}
      div.card
        div.card-content
          div.card-icons
            div.card-icon 
             i(data-lucide='trending-up')
            div.badge-trend(class=dashboardData.ticketTrend >= 0 ? 'badge-trend-up' : 'badge-trend-down')
             i(data-lucide=dashboardData.ticketTrend >= 0 ? 'trending-up' : 'trending-down')
             span #{dashboardData.ticketTrend}%
          p TICKET MÉDIO
          h3 R$ #{dashboardData.averageTicket}
  section.dashboard-charts
   input#weekly-sales-data(type="hidden" value=dashboardData.weeklySales)
   input#top-products-data(type="hidden" value=dashboardData.topProductsChart)
   div.charts-container
    div.chart-card
      div.chart-label
        h3 Desempenho de Vendas
        p Mensal
      .chart-wrapper 
        canvas#salesBarChart
    div.chart-card
      div.chart-label
        h3 Produtos mais vendidos
      .chart-wrapper 
        canvas#donutChart
        #chart-legend-container.chart-legend  
  section.dashboard-orders 
    .orders-header 
      h3 Pedidos
      p Acompanhe o desempenho dos pedidos em tempo real aqui
    .orders-table
      table
        thead
          tr
            th ID do Pedido
            th Cliente
            th Itens
            th Horário
            th Total
            th Status
        tbody
          if dashboardData.recentOrders && dashboardData.recentOrders.length > 0
          each order in dashboardData.recentOrders
            tr
              td # #{order.id}
              td #{order.userName}
              td #{order.itemsSummary}
              td #{new Date(order.created_at).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' })}
              td R$ #{Number(order.total_amount).toFixed(2)}
              td
                span.status-pill(class=(order.status === 'pago' ? 'concluido' : 'pendente')) #{order.status}
          else
            tr
              td(colspan="6" style="text-align:center; padding: 20px;") Ninguém pediu pizza ainda... 🍕
                      